<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Placement </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link rel="stylesheet" href="/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
  $(document).ready(function () {
      GetBindData()
  });
function GetBindData() {
      $.ajax({
          url: '/placement',
          method: 'GET',
          dataType: 'json',
          contentType: 'application/json; charset=utf-8',
          success: function (result)
          {
              //after successfully call bind data to Table
              BindDataWithJqueyEach(result);
          },
          fail: function (jqXHR, textStatus) {
              alert("Request failed: " + textStatus);
          }
      })
  }
  function BindDataToTable(data)
  {
      if (data != null && data) {
          for (var i = 0; i < data.length; i++) {
              var tablerow = "<tr>"
                            + "<td>" + data[i].id + "</td>"
                            + "<td>" + data[i].type + "</td>"
                            + "<td>" + data[i].vacancy + "</td>"
                            + "<td>" + data[i].description + "</td>"
                            + "</tr>";
              $("#tbody").append(tablerow);
          }
      }
  }
  
  function BindDataWithJqueyEach(data)
  {
      jQuery.each(data, function (i, val) {
          var tablerow = "<tr>"
                           + "<td>" + val.id + "</td>"
                           + "<td>" + val.type + "</td>"
                           + "<td>" + val.vacancy + "</td>"
                           + "<td>" + val.description + "</td>"
                           + "</tr>";
          $("#tbody").append(tablerow);
      });
  }  
  function getData()
  {
       $.ajax( 
		 { 
			 url:"/placement",
			 success:function(data) 
			 { 
			     console.log(data);
			     var placement='';
				 $.each( data, function(key,value) 
				   {
					    console.log(value.id);
					    placement+='<tr>';
					    placement+='<td> <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateModal" onclick="getUpdateInfo('+value.id+');">'+value.id+'</button></td>';
					    placement+='<td>'+value.type+'</td>';
					    placement+='<td>'+value.vacancy+'</td>';
					    placement+='<td>'+value.description+'</td>';
					  
					    placement+='<td> <button class="btn btn-danger" onclick="deleteInfo('+value.id+');">delete</button> <td>';
					    placement+='</tr>';
					});
			    $('#tbody').html(placement);
			 },
			 type:'GET'
		 } );
  }
  
  function getInfo(){
	  var search=$("#search").val();
	  $.ajax( 
				 { 
					 url:"/placement/"+search,
					 success:function(data) 
					 { 
					            console.log("search data");
					            var  placement='';
					            placement+='<tr>';
					            placement+='<td> <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateModal" onclick="getUpdateInfo('+data.id+');">'+data.id+'</button></td>';
					            placement+='<td>'+data.type+'</td>';
					            placement+='<td>'+data.vacancy+'</td>';
					            placement+='<td>'+data.description+'</td>';
					     
					            placement+='<td> <button class="btn btn-danger" onclick="deleteInfo('+data.id+');">delete</button> <td>'
					            placement+='</tr>';
					
					    $('#tbody').html( placement);
					  },
					  type:'GET' // POSt   PUT   DELETE
					 
          });
}
  
  
  function deleteInfo(data){
	   console.log(data);
	   $.ajax( {
		    type:"DELETE",
		    url:"/placement/ "+ data, 
		    contentType: "application/json",
			
			success:function(resp, status){
				/* console.log(resp+" "+ status);	 */
				
				alert("deleted");
				window.location.href = '/display';
			},
			
	});
}
  
  function getUpdateInfo(id){
	    $.get("/placement/" + id, function(data) {
		console.log(data);
		$('#id2').val(data.id);
		$('#type2').val(data.type);
		$('#vacancy2').val(data.vacancy);
		$('#description2').val(data.description);

	}); 
}  
  
  
function updateInfo() {
		 var data = {}
			data["type"] = $("#type2").val();
			data["vacancy"] = $("#vacancy2").val();
			data["description"] = $("#description2").val();
	
			
			var id=$("#id2").val();
			console.log(data+' '+id);
			$.ajax( {
				    url:"/placement/ "+id, 
				    contentType: "application/json",
				    data: JSON.stringify(data), 
					type:"PUT",
					
					success:function(data){
						window.location.href = '/display';
						/* console.log(resp+" "+ status);	 */
						alert("updated");
					},
					/* error:function(resp,status){
						alert("error");
					} */
			});
}
function save() {
	var data = {}
	data["type"] = $("#type1").val();
	data["vacancy"] = $("#vacancy1").val();
	data["description"] = $("#description1").val();
	
	$.ajax( {url:"/placement", 
		    contentType: "application/json",
		    data: JSON.stringify(data), 
			type:"post",
			
			success:function(resp, status){
				/* console.log(resp+" "+ status);	 */
				window.location.href = '/display';
				alert("Inserted");
			},
	});
}
  
</script>
     
</head>

<body>
  <main>
    <div class="container text-center">
      <h1 style="background-color:grey "class="bg-light py-4 text-info">
        <i class="fas fa-user-graduate"></i>    Placement Details
      </h1>
      <button class="fas fa-user-edit btn btn-success" id="btn-create" onclick="getData();">Update or Delete</button>
 
      <button style="margin-left:50%" class="fas fa-user-plus btn btn-success" id="btn-create" data-toggle="modal" data-target="#createModal">Create</button>
      <div class="form-inline md-form mr-auto mb-4 float-right" >
         <input class=" mr-sm-2" type="text" id="search" placeholder="ID" aria-label="ID" name="id">
         <button class="btn btn-outline-success btn-rounded btn-sm my-0" onclick="getInfo();">Search</button>
      </div>
      <!--  Table -->
      <div>
        <table style="margin-right:200px;" class="table table-striped " id="myPlacementtable">
          <thead>
	            <tr>
	              <th scope="col">ID</th>
	              <th scope="col">Type</th>
	              <th scope="col">Vacancy</th>
	              <th scope="col">Description</th>
	             
	            </tr>
          </thead>
          <tbody id="tbody">  
                   
          </tbody>
        </table>
      </div>
    </div>
    <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">  Update Page</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <input type="text" id="id2" name="id" class="form-control" autocomplete="off" placeholder="ID" readonly/><br>
          <input type="text" id="type2" name="type" class="form-control" autocomplete="off" placeholder="Type" /><br>
          <input type="text" id="vacancy2" name="vacancy" class="form-control" autocomplete="off" placeholder="Vacancy" /><br>
          <input type="text" id="description2" name="description" class="form-control " autocomplete="off" placeholder="Description" /><br>
         
          <input style="margin-left: 10%; margin-right: 10%;" type="submit" value="update" class="btn btn-warning"  onclick='updateInfo();'/><br>
      </div>
    </div>
  </div>
</div>
<!-- Modal End -->



<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Input Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <input type="text" id="type1" name="type" class="form-control" autocomplete="off" placeholder="Type" /><br>
          <input type="text" id="vacancy1" name="vacancy" class="form-control" autocomplete="off" placeholder="Vacancy" /><br>
          <input type="text" id="description1" name="description" class="form-control " autocomplete="off" placeholder="Description" /><br>
          <input style="margin-left: 10%; margin-right: 10%;" type="submit" value="submit" class="btn btn-success"  onclick='save();'/><br>
      </div>
    </div>
  </div>
</div>
<!-- Modal End -->
  </main>

 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

  <!-- Include Dexie -->
  <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>

  <!-- Custom main file-->
  <script src="../js/main.js" type="module"></script>
</body>


<script>
</script>
</html>