<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Insert Placement Detail</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous" />

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous" />
<link rel="stylesheet" href="/style.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
	function save() {
		var data = {}
		data["type"] = $("#type").val();
		data["vacancy"] = $("#vacancy").val();
		data["description"] = $("#description").val();

		$.ajax({
			url : "/placement",
			contentType : "application/json",
			data : JSON.stringify(data),
			type : "post",
			success : function(data) {
				
				window.location.href = '/display';
				alert("Inserted Successfully" + data);
				
			},
			error: function (e) {
                alert('error', e);
            }
		});
	}
	
	
</script>
</head>

<body>
	<main>
		<div class="container text-center">
			<h1 class="bg-light py-4 text-info">
				<i class="fas fa-user-graduate"></i> Insert Placement Details
			</h1>
			<div class="d-flex justify-content-center">
				<div class="w-50">
					<input type="text" id="type" name="type" class="form-control" autocomplete="off" placeholder="Type" /><br> 
					<input type="text" id="vacancy" name="vacancy" class="form-control" autocomplete="off" placeholder="Vacancy" /><br> 
					<input type="text" id="description" name="description" class="form-control " autocomplete="off" placeholder="Description" /><br>

					<input style="margin-left: 10%; margin-right: 10%;" type="submit" value="Submit" class="btn btn-success" onclick='save();'  /><br>
				</div>
			</div>

		</div>


		<div id="notfound"></div>
	</main>

	<!-- Labels -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous">
	</script>
	
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous">
	</script>

	<!-- Include Dexie -->
	<script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>

	<!-- Custom main file-->
	<script src="../js/main.js" type="module"></script> 
</body>

</html>